@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(../fonts/Oxygen-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(../fonts/Oxygen-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(../fonts/Oxygen-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen Mono'), local('OxygenMono-Regular'), url(/fonts/OxygenMono-Regular.ttf) format('truetype');
}


h1, h2, h3, h4, h5, h6 {
  font-size: 150%; 
}


body {
  background: #e5e5e5;
  font-family: 'Oxygen', sans-serif;
}


.post code {
  font-family: 'Oxygen Mono';
  font-size: 85%;
}

.post pre code {
  font-size: 100%;
  background: #eef;
}

.site {
  line-height: 2em;
  width: 76%;
}

p { margin: 2.5em 0; }
