<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Github<br />
                Twitter<br />
                Email
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/urbanslug">urbanslug</a><br />
                <a href="https://twitter.com/urbanslug">@urbanslug</a><br />
                <a href="mailto:mwanikibusiness@gmail.com">mwanikibusiness@gmail.com</a><br />
                <a href="https://docs.google.com/file/d/0B3l4n8Q6GpBObnY4UGxxYUpMWTQ/edit" target="_blank">KeyID 0x97CCCF20636D31D9</a>
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
